{% extends "base.html" %}
{% load static %}
{% block title %}
About Us
{% endblock title %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-4" style="font-family: Arial;">About Us</h1>
    <div class="row">
        <div class="col-lg-6">
            <img src="{{STATIC_URL}}" width="200" height="200" class="img-fluid rounded mb-4" >
        </div>
        <div class="col-lg-6">
            <p style="font-family: Arial, sans-serif; font-size: 18px;">
                Welcome to our e-commerce platform! We are dedicated to providing you with the best online shopping experience.
                Our mission is to bring you a wide variety of high-quality products at competitive prices, all from the comfort
                of your home.
            </p>
            <p style="font-family: Arial, sans-serif; font-size: 18px;">
                Our team works tirelessly to curate an extensive selection of items to meet your needs and preferences. From
                electronics to fashion, home goods to beauty products, we strive to offer something for everyone.
            </p>
            <p style="font-family: Arial, sans-serif; font-size: 18px;">
                We value our customers and are committed to ensuring your satisfaction. If you have any questions or feedback,
                please do not hesitate to reach out to us. Thank you for choosing us for your shopping needs!
            </p>
        </div>
    </div>
</div>
{% endblock content %}
