{% extends "base.html" %}
{% load static %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-3 mt-4">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="mt-4">Reset Password</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger my-3">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{ msg.tags }} mt-3" role="alert">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}
